#grid{
    display: flex;
    flex-wrap: wrap;
    
}
.gridItem{
    width: 200px;
    max-height: 250px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border: solid;
    
}
.itemName{
    text-overflow: clip;
}
.itemBarcode{
    margin-bottom: .4em;
}

.itemQuantity{
    margin-top: 0px;
    color: green;
    text-emphasis: bold;
    
}
.img{
   height: 100px;
    width: 100px;
}

#inputMenu{
    float: left;
}

#bannerimg{
width: fit-content;
max-height: 110px;
}
#banner{
    text-align: center;
}